body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.logs-container {
    margin: 20px auto;
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logs-container h1 {
    display: flex;
    font-size: 24px;
    justify-content: left;
}

.log-table {
    overflow-x: auto;
    margin-bottom: 20px;
}

.log-table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.log-table th,
.log-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.log-table th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
}

.log-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.log-table tr:hover {
    background-color: #f1f1f1;
}

.title-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-bar, .search-button {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.search-button {
    border-color:#82B65B;
    color: #82B65B;
    background-color: transparent;
}

.search-button:hover {
    background-color: #abe082;
}

.pagination {
    margin: 10px;
}

.search-button a{
    color: #82B65B;
    font-family: Arial, sans-serif;
    vertical-align: middle;
    text-decoration: none; 
}

.current {
    font-family: Arial, sans-serif;
    font-size: 16px;
    vertical-align: middle;
}