{% extends 'nav_bar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/faq_page.css' %}">

<div class="faq-container">
    <div class="title-and-search">
        <h1>FAQ Page</h1>
        <form class="search-and-button" method="get" action="">
            <input type="text" name="q" placeholder="Search..." class="search-bar" {% if query %} value="{{ query }}" {% endif %}>
            <select name="tag" class="tag-dropdown">
                <option value="" {% if not selected_tag %}selected{% endif %}>All Tags</option>
                {% for tag in tags %}
                <option value="{{ tag.id }}" {% if tag.id == selected_tag %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="search-button">Search</button>
        </form>
        <h1 style="color: white;">FAQ Page</h1>
    </div>
    <div class="faq-table">
        {% if faqs %}
        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
            </thead>
            <tbody>
                {% for faq in faqs %}
                <tr>
                    <td>{{ faq.question }}</td>
                    <td>{{ faq.answer }}</td>
                    <td style="display: flex; gap: 10px; align-items: center;">
                        <a href="{% url 'edit_faq' faq.id %}" class="edit-btn">Edit</a>
                        <form method="POST" action="{% url 'delete_faq' faq.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">Delete</button>
                            
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>No matching entries found</h3>
        {% endif %}
    </div>
    <div class="create-faq">
        <a href="{% url 'create_faq' %}" class="create-btn">+ Create new FAQ</a>
    </div>
    
</div>
{% endblock %}